# Returns a generic block of values suitable for inclusion in most states.
{% macro sls_block(dict, ind=4) %}
    {% for key, value in dict.items() %}
{{ '-'|indent(ind, True) }} {{ key }}: {{ value|json() }}
    {% endfor %}
{% endmacro %}